:root {
  font-family: Inter, sans-serif;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.black {
  font-size: 64px;
  font-weight: 700;
  color: black;
}
.white {
  font-size: 64px;
  font-weight: 700;
  color: white;
}
